<!-- <table *ngIf="userDetails" class="table-fill">
  <thead>
      <tr>
          <th colspan="2" class="text-center">User Profile</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>User ID</td>
          <td>{{userDetails.userId}}</td>
      </tr>
      <tr>
          <td>Full Name</td>
          <td>{{userDetails.fullName}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
      <tr>
          <td colspan="2" class="text-center"> -->
           <!--    <input type="button" (click)="onLogout()" value="Logout" /> -->
<!--           </td>
      </tr>
  </tbody>
</table> -->
<div style="text-align: right;">
<input style="background-color: #e5e5e5;color: #333; padding: 5px;" type="button" (click)="onLogout()" value="Logout" />
</div>
<div>
 <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
 <button type="button" class="btn btn-success btn-s" 
  (click)="uploader.uploadAll()" 
  [disabled]="!uploader.getNotUploadedItems().length" >
      Upload an Image
</button>
</div>



<div class="container text-center" style="margin: auto;text-align: center;">
  <h2>MeanInsta</h2>
  <div *ngFor="let item of files">
    <div style="    border: 1px solid #333;">
      <img src="assets/img/{{item}}" style="height: 700px;width: 700px;"/>
      <div>{{item}}</div>
    <div>
  </div>
</div> 